<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ content.pages[data].title }}</title>
    <link href="css/styleguide.css" rel="stylesheet">
</head>
<body>
    {% block Content %}{% endblock %}
    <script>
        var _devices = JSON.parse('{{ devices }}');
    </script>
    <script type="text/javascript" src="js/styleguide.js"></script>
    <script type="text/javascript" src="js/test/styleguide.js"></script>
</body>
</html>