html {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-only($breakpoint) {
      font-size: map-get($font-sizes, $breakpoint);
    }
  }
}

*, html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}