{% set data = "Default" %}

{% extends "Layouts/Page/Default.html" %}

{% block Content %}
<div class="container">
    <div class="row">
        <div class="col-md col-lg-8 mx-auto">
            <h1>Headline</h1>
            <figure class="figure left">
                <picture>
                    <img src="http://via.placeholder.com/400x200" width="400" height="200" />
                </picture>
                <figcaption>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-10 mx-auto">
            <div class="card-columns news">
                {% for item in content.pages.index.news %}
                    {% include "Extensions/News/Partials/List/Item.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}