{% extends "Layouts/Page/Styleguide.html" %}

{% block Content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link styleguide-settings">Settings</a></li>
                    <li class="nav-item"><a href="#" class="nav-link styleguide-grid">Show Grid</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto wrapper">
                <iframe src="Default.html" width="100%" height="100%" id="iframe"></iframe>
            </div>
        </div>
    </div>

    {% include "Partials/Styleguide/Settings.html" %}
{% endblock %}