// grid-breakpoints, created with gulp task and yaml config
// created at: Wed Mar 21 2018 21:54:04 GMT+0100 (CET)
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1380px,
);