// src/scss/abstracts/_breakpoints.scss, created with gulp task and yaml config
// created at: Fri Apr 27 2018 17:59:01 GMT+0200 (CEST)
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1380px
);