// src/scss/abstracts/_container.scss, created with gulp task and yaml config
// created at: Fri Apr 27 2018 17:41:57 GMT+0200 (CEST)
$container-max-widths,: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1380px
);