// container-max-widths, created with gulp task and yaml config
// created at: Wed Mar 21 2018 21:54:04 GMT+0100 (CET)
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1380px,
);