{% set data = "index" %}

{% extends "layouts/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md col-lg-8 mx-auto">
            <h1>INLINE SVG TESTFILE</h1>
            <span class="ie-sgv-test a"></span>
            <span class="ie-sgv-test b"></span>
            <span class="ie-sgv-test c"></span>
            <span class="ie-sgv-test d"></span>
            <span class="ie-sgv-test e"></span>
            <span class="ie-sgv-test f"></span>
            <span class="ie-sgv-test g"></span>
    </div>
</div>
{% endblock %}