// custom variables
@import "Lib/variables";

// bootstrap (cleaned)
@import "Lib/bootstrap";

// family.scss
@import "../../node_modules/family.scss/source/src/family";

// import mixins
@import "Lib/mixins";

// inline svg
// @import "Svg/svg";

// debug
@import "Lib/debug";

html {
  font-size: 28px;
}

*, html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}